#ASSIGNMENT MODULE 4

Q1)  What are data structures, and why are they important?

soln.
*   Data structures are specialized formats for organizing, processing, and storing data in a computer so that it can be accessed and modified efficiently. They provide a means to manage large amounts of data for various uses, such as databases, internet indexing services, and large-scale simulations. Effective use of data structures can lead to efficient algorithms and optimal performance in software applications.

Q2) Explain the difference between mutable and immutable data types with examples.

   In Python, data types are categorized based on their mutability:

Mutable data types are those whose values can be changed after their creation. Examples include:

*   Lists: my_list = [1, 2, 3]; my_list[0] = 4 modifies the first element.

*   Dictionaries: my_dict = {'a': 1, 'b': 2}; my_dict['a'] = 3 changes the value associated with key 'a'.

*   Sets: my_set = {1, 2, 3}; my_set.add(4) adds a new element to the set.

Immutable data types are those whose values cannot be altered once created. Examples include:

*   Tuples: my_tuple = (1, 2, 3); attempting my_tuple[0] = 4 will raise a TypeError.

*   Strings: my_string = "hello"; attempting my_string[0] = 'H' will raise a TypeError.

*   Numbers: integers and floats are immutable; operations on them result in new objects.

Q3) What are the main differences between lists and tuples in Python?

*   Mutability: Lists are mutable; their elements can be changed, added, or removed. Tuples are immutable; once created, their elements cannot be altered.

*   Syntax: Lists are defined using square brackets, e.g., my_list = [1, 2, 3], while tuples use parentheses, e.g., my_tuple = (1, 2, 3).

*   Performance: Due to their immutability, tuples can be more memory-efficient and faster in iteration compared to lists.

*   Usage: Tuples are often used for fixed collections of items, such as coordinates or function returns, whereas lists are suited for collections that may change over time.

Q4) Describe how dictionaries store data.

*   Dictionaries in Python store data as key-value pairs. Internally, they use a hash table mechanism where each key is hashed to determine its unique index in an underlying array. This allows for average-case constant time complexity, O(1), for lookup, insertion, update, and deletion operations. However, in the worst case, such as when many keys hash to the same index (collisions), the time complexity can degrade to O(n).

Q5)  Why might you use a set instead of a list in Python?

*   Uniqueness: You need to ensure all elements are unique, as sets automatically eliminate duplicates.

*   Set Operations: You require efficient implementations of mathematical set operations like union, intersection, and difference.

Q6)  What is a string in Python, and how is it different from a list?

*   A string in Python is an immutable sequence of characters used to represent textual data. Key differences from lists include:

*   Mutability: Strings are immutable; once created, their content cannot be changed. Lists are mutable and can be modified.

*   Element Types: Strings contain only characters (text), whereas lists can contain elements of any data type, including other lists.

*   Operations: Strings have specific methods for text manipulation, such as .upper(), .lower(), and .replace(), while lists have methods like .append(), .extend(), and .remove().

Q7)  How do tuples ensure data integrity in Python?

*   Tuples ensure data integrity through their immutability. Once a tuple is created, its content cannot be altered, preventing accidental or intentional modifications. This makes tuples suitable for storing data that should remain constant throughout the program, such as configuration settings or fixed collections of items.

Q8)  What is a hash table, and how does it relate to dictionaries in Python?

*   A hash table is a data structure that maps keys to values for efficient data retrieval. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found.


*   In Python, dictionaries are implemented using hash tables. Each key in a dictionary is hashed to determine its index in the underlying array, allowing for average-case constant time complexity, O(1), for operations like lookup, insertion, and deletion.

Q9)  Can lists contain different data types in Python?

*   Yes, lists in Python are heterogeneous, meaning they can contain elements of different data types, such as integers, strings, floats, or even other lists. For example: my_list = [1, "hello", 3.14, [2, 3]].

Q10) Explain why strings are immutable in Python.

Strings in Python are immutable, meaning their content cannot be changed after creation. This design choice offers several advantages:

*   Simplified Memory Management: Immutable strings allow for more straightforward memory allocation, as there's no need to anticipate changes in string length or content. This contrasts with mutable strings, which would require complex memory handling to accommodate modifications.
STACKOVERFLOW.COM

*   Hashability: Immutability ensures that strings can serve as reliable keys in dictionaries and elements in sets, as their hash value remains constant over time. If strings were mutable, their hash values could change, leading to inconsistencies in data retrieval.


*   Thread Safety: Immutable objects are inherently thread-safe, as concurrent threads cannot alter their state. This reduces the need for synchronization mechanisms when strings are accessed by multiple threads.

Q11)  What advantages do dictionaries offer over lists for certain tasks?

Dictionaries provide several benefits compared to lists:

*   Efficient Data Retrieval: Dictionaries use key-value pairs and hash tables, allowing for average-case constant time complexity, O(1), for lookups, insertions, and deletions. In contrast, lists have an average-case time complexity of O(n) for search operations, as they may require scanning through each element.
STACKOVERFLOW.COM

*   Associative Mapping: Dictionaries enable direct association between keys and values, making them ideal for scenarios where data needs to be accessed via unique identifiers, such as mapping usernames to user details.

*   Flexibility with Data Types: While lists are ordered collections indexed by position, dictionaries allow for more flexible data retrieval using meaningful keys, enhancing code readability and maintainability.

Q12)  Describe a scenario where using a tuple would be preferable over a list.

Tuples are preferable when dealing with fixed collections of items that should not change throughout the program's execution. For instance:

*   Function Returns: When a function needs to return multiple values that should remain constant, using a tuple ensures the returned data cannot be altered inadvertently.

*   Data Integrity: Storing configuration settings or fixed coordinates as tuples prevents accidental modification, preserving data integrity.

Q13) How do sets handle duplicate values in Python?

Sets in Python automatically eliminate duplicate values. When elements are added to a set, any duplicates are discarded, ensuring all items remain unique. For example:

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

Q14) How does the "in" keyword work differently for lists and dictionaries?

The in keyword checks for membership:

*   Lists: It verifies if a value exists within the list, resulting in a time complexity of O(n) due to the need to iterate through elements.

*   Dictionaries: It checks for the presence of a key, benefiting from average-case constant time complexity, O(1), due to the underlying hash table implementation.

Q15)  Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable; once created, their elements cannot be changed. This immutability ensures data integrity and allows tuples to be used as keys in dictionaries.

Q16) What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary within another dictionary, allowing for hierarchical data representation. For example:

In [ ]:
students = {
    'Alice': {'age': 25, 'major': 'Physics'},
    'Bob': {'age': 22, 'major': 'Mathematics'}
}

print(students['Alice']['major'])  # Output: Physics

Physics

This structure is useful for representing complex data, such as storing information about students, where each student has multiple attributes.

Q17) Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary has an average-case time complexity of O(1), thanks to the hash table implementation. However, in rare cases of hash collisions, the time complexity can degrade to O(n).

Q18) In what situations are lists preferred over dictionaries?

Lists are preferred when:

*   Order Matters: Lists maintain the order of elements, making them suitable for ordered collections.

*   Sequential Data: When dealing with sequences where positional indexing is essential.

*   Homogeneous Data: For collections of items where each element is of the same type or represents similar data.

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?

In Python, dictionaries are collections that store data in key-value pairs, allowing for efficient data retrieval based on unique keys. Historically, dictionaries were considered unordered collections, meaning they did not maintain any specific order of elements. This characteristic stemmed from their underlying implementation using hash tables, which prioritize quick access and insertion over element order.

Evolution of Dictionary Ordering:

*   Before Python 3.7: Dictionaries did not preserve the insertion order of keys. When iterating over a dictionary, the order of elements could appear random, reflecting the internal state of the hash table rather than the sequence of insertion.

*   Python 3.7 and Later: Starting with Python 3.7, dictionaries were officially guaranteed to maintain the insertion order of keys. This means that when iterating over a dictionary, items are returned in the order they were added.

Impact on Data Retrieval:

*   Key-Based Access: Regardless of the version, retrieving a value by its key in a dictionary has always been efficient, with an average-case time complexity of O(1). The ordering of keys does not affect this direct access method.

*   Iteration Order: In versions prior to Python 3.7, the lack of guaranteed order meant that iterating over a dictionary's keys, values, or items could yield elements in an unpredictable sequence. This unpredictability required developers to avoid relying on any specific order during iteration.

*   Predictable Iteration: With the introduction of insertion-order preservation in Python 3.7, developers can now rely on dictionaries to maintain the order of elements as they were added. This enhancement simplifies tasks that depend on the order of data, such as serialization to JSON or other formats where order is significant.

In summary, while dictionaries were initially unordered collections, the evolution of Python has led to the preservation of insertion order in modern versions. This change enhances the predictability of iteration without compromising the efficiency of key-based data retrieval.

Q20) Explain the difference between a list and a dictionary in terms of data retrieval.

In lists, data retrieval is based on positional indexing, requiring knowledge of the element's position, with a time complexity of O(1) for direct index access. In dictionaries, data retrieval is based on unique keys, allowing for efficient lookups with an average-case time complexity of O(1), regardless of the element's position.

# Practical Questions

Q1)  Write a code to create a string with your name and print it

In [ ]:
name="Divyansh Mishra"
print(name)

Divyansh Mishra

Q2)  Write a code to find the length of the string "Hello World"

In [1]:
len("Hello World")

11

Q3) Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
s="Python Programming"
s[0:3]

'Pyt'

Q4)  Write a code to convert the string "hello" to uppercase

In [ ]:
s="hello"
s.upper()

'HELLO'

Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s="I like apple"
s.replace("apple","orange")

'I like orange'

Q6) Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
my_list = list(range(1, 6))
my_list

[1, 2, 3, 4, 5]

Q7) Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [2]:
l=['a','b','c','d']
l[1]

'b'

Q10)  Write a code to reverse the list [10, 20, 30, 40, 50].

In [4]:
l=[10,20,30,40,50]
l.reverse()
print(l)

# or

l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

Q11)  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [5]:
t=(100,200,300)
print(t)

(100, 200, 300)

Q12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [7]:
t=('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

Q 13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [10]:
t=(10,20,5,15)
min(t)

#or

t=list(t)
t.sort()
print(t[0])

5

Q 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [11]:
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

Q  15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [12]:
t=("apple","banana","mango")
"kiwi" in t

False

Q  16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [13]:
s={"a","b","c"}
print(s)

{'a', 'c', 'b'}

Q 17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [16]:
s={1,2,3,4,5}
s.clear()
print(s)
type(s)

set()

set

Q  18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [17]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

Q  19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
r={1,2,3}
s={3,4,5}
r.union(s)

#or
r|s

{1, 2, 3, 4, 5}

Q  20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
r={1,2,3}
s={2,3,4}
r.intersection(s)

# or
r&s

{2, 3}

Q 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
d={"name":"Divyansh","age":20,"city":"Gorakhpur"}
print(d)

{'name': 'Divyansh', 'age': 20, 'city': 'Gorakhpur'}

Q 22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [25]:
d={'name': 'John', 'age': 25}
d["country"]="USA"
print(d)

#or
d.update({"country":"USA"})
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}
{'name': 'John', 'age': 25, 'country': 'USA'}

Q  23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

Q  24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

#or
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

Q 25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [28]:
d={'name': 'Alice', 'city': 'Paris'}
"city" in d

True

Q 26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
l=[1,2,3,4]
print(l)
t=(1,2,3,4)
print(t)
d={"name":"Divyansh","age":20,"city":"Gorakhpur"}
print(d)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Divyansh', 'age': 20, 'city': 'Gorakhpur'}

Q 27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)

In [32]:
l=[1,5,90,34,76]
l.sort()
print(l)

[1, 5, 34, 76, 90]

Q 28) Write a code to create a list with strings and print the element at the third index.

In [40]:
l=["apple","banana","mango","carrot","raddish"]
l[3]

'carrot'

Q 29)  Write a code to combine two dictionaries into one and print the result.

In [33]:
d1={'name': 'Alice', 'age': 30}
d2={'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.update(d2)
print(d1)

#or
d1={'name': 'Alice', 'age': 30}
d2={'name': 'Bob', 'age': 22, 'city': 'New York'}
d3={**d1,**d2}
print(d3)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'age': 22, 'city': 'New York'}

Q 30)  Write a code to convert a list of strings into a set.

In [39]:
l=['apple','banana','mango','carrot','raddish', (1,4,6,8,)]
s=set(l)
print(s)

{'apple', (1, 4, 6, 8), 'banana', 'carrot', 'raddish', 'mango'}