2. Explain the purpose of constraints and how they help maintain data integrity in a database. Provide
examples of common types of constraints.




Explanation: Constraints enforce rules to maintain data integrity:

* Primary Key: Ensures unique, non-null values (e.g., emp_id in employees).

* Foreign Key: Ensures referential integrity (e.g., class_id in Students referencing Classes).
* NOT NULL: Requires a value (e.g., emp_name in employees).
* UNIQUE: Prevents duplicate values (e.g., email in employees).
* CHECK: Enforces conditions (e.g., age >= 18 in employees).
* DEFAULT: Sets default values (e.g., salary defaults to 30000).
Constraints prevent invalid data, ensuring consistency and reliability.

3. Why would you apply the NOT NULL constraint to a column? Can a primary key contain NULL values? Justify
your answer.


Explanation: NOT NULL ensures a column always has a value, critical for mandatory fields like emp_name. A primary key cannot contain NULL values because it must uniquely identify each row, and NULL is not a distinct value.

4. Explain the steps and SQL commands used to add or remove constraints on an existing table. Provide an
example for both adding and removing a constraint.


Explanation:

* Add Constraint: Use ALTER TABLE ADD CONSTRAINT.

 Example: ALTER TABLE employees ADD CONSTRAINT chk_salary CHECK (salary >= 0);

* Remove Constraint: Use ALTER TABLE DROP CONSTRAINT.

 Example: ALTER TABLE employees DROP CONSTRAINT chk_salary;

5. Explain the consequences of attempting to insert, update, or delete data in a way that violates constraints.
Provide an example of an error message that might occur when violating a constraint.

\
Explanation: Violating constraints (e.g., inserting duplicate emp_id, null emp_name, or age < 0) causes the database to reject the operation. Example error (PostgreSQL): ERROR: duplicate key value violates unique constraint "employees_pkey".

FOR Q1,6-10 REFER THE LINK:

https://github.com/DM2ih/Python_data-structure/blob/main/sql1.sql

# **SQL COMMANDS QUESTIONS:**

https://github.com/DM2ih/Python_data-structure/blob/main/sql2.sql

# **FUNCTIONS**

https://github.com/DM2ih/Python_data-structure/blob/main/SQL3.sql

# **WINDOWS FUNCTIONS**

https://github.com/DM2ih/Python_data-structure/blob/main/SQL%204.sql

# **Page 9: Normalization & CTE**

 1. First Normal Form (1NF):

    a. Identify a table in the Sakila database that violates 1NF. Explain how youwould normalize it to achieve 1NF.


Explanation: A table violates 1NF if it has repeating groups or non-atomic values. In Sakila, the film.special_features column (TEXT array or comma-separated string) may violate 1NF. To normalize:

* Create a special_features table: film_id | feature.

* Remove special_features from film.

2. Second Normal Form (2NF):
    
    a. Choose a table in Sakila and describe how you would determine whether it is in 2NF.
    If it violates 2NF, explain the steps to normalize it.

Explanation: A table violates 2NF if non-key attributes depend on part of a composite key. In Sakila, film_actor (keys: actor_id, film_id) is in 2NF since no non-key attributes exist. If it had, say, actor_name, it would violate 2NF. Normalize by moving actor_name to actor table.

3. Third Normal Form (3NF):

   a. Identify a table in Sakila that violates 3NF. Describe the transitive dependencies
    present and outline the steps to normalize the table to 3NF.

Explanation: A table violates 3NF if non-key attributes depend on other non-key attributes. In Sakila, customer may have address_id and store_id, but no transitive dependencies exist. If customer had store_city, it would violate 3NF. Normalize by moving store_city to store table.

4. Normalization Process:
  
  a. Take a specific table in Sakila and guide through the process of normalizing it from the initial  
  unnormalized form up to at least 2NF.

Explanation: Take rental table. Itâ€™s already normalized, but if it included customer_name and store_city, normalize:

* Move customer_name to customer table.

* Move store_city to store table.
* Keep rental with rental_id, customer_id, inventory_id, etc.

for Q5-Q12 refer below link:

https://github.com/DM2ih/Python_data-structure/blob/main/SQL%205.sql